/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    list-style: none;
    text-decoration: none;
}


body{
    font-family: 'Encode Sans Expanded', sans-serif;
    

}

/* --navbar-- */

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 140px; /* change it to desired width */
    background-color: white; /* change to desired color */
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 50;
    transition: .2s;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 120px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
    margin-bottom: 10px;
}
.head-list {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
    float: right;
    margin-top: 25px;
}

.head-list a {
    margin-left: 25px;
    font-size: 1.2em;
    border: 1px solid blue;
    box-shadow: 1px 3px 3px rgb(114, 109, 182);
    padding: 5px;
    border-radius: 5px;
}

.head-list > a:hover {
    color: black;
}

/* --showcase-- */

.head-image {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 300px;
  
}

.head-image-text {
  position: absolute;
  top: 60%;
  right: 10%;
  left: 10%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

}

.head-image-text h2{
    font-size: 4em;
    margin-bottom: 15px;
   }

.head-image-text p{
   font-size: 1.4em;
  }


.head-image img{
    width: 100%; /* need to specify width of the image  */ 
    height: 450px;   /* need to specify height of the image  */  
}


/* --featured product-- */

.featured {
    margin: 15px;
}

.featured h3 {
    font-size: 1.7em;
    font-weight: 600;
    margin-top: 200px;
    text-align: center;
    line-height: 2em;
    margin-bottom: 25px;
}

.featured-product {
    max-width: 1150px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}   

.col-3 {
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}


.col-3 img {
    width: 320px;
    height: 320px;
}

.col-3 h4{
    padding:10px;
    margin:10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
}


/* showcase-buttom */

hr{
    margin: 10px 120px 50px;
}

.container {
    display:flex;
    flex-direction: row;
    background-image:  url("../images/middle-image5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.col-1 {
    color: rgb(255, 255, 255);
    flex:1;   
    margin-top: 220px;
    font-size: 2.4em;
    padding: 5px;
    margin-right: 30px;
    margin-left: 70px;
    width: 100%;
    line-height: 2em;
    font-family: 'Russo One', sans-serif;
}


.col-2{
    display: flex;
    flex-direction: column;
    flex:3;
    align-items: center;
    justify-content: center;
}

.row-3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-3 i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 20vw;
    margin: 0 auto;
    color: rgb(247, 244, 92);
}


.row-3 .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    font-size: 1.6em;
    width: 40vw;
    color: rgb(247, 247, 247);
    line-height: 1.5em;
    font-weight: 600;
} 


/* footer-section */

.connect-container{
    display: flex;
    margin: 100px 0 0px;
    padding: 20px;
    background: rgb(176,235,230);
    background: radial-gradient(circle, rgba(176,235,230,1) 0%, rgba(243,245,250,1) 100%);
    line-height: 30px;
}

.address{
    margin-right: 20px;
}

.address h3{
    font-size:1.6em;
    padding: 10px;
    margin-bottom: 4px;
    letter-spacing: 3px;
    font-weight: 500;
}


.address p{
    font-size:1.1em;
    padding: 10px;
    margin-bottom: 8px;

}

.icon-type{
   margin:7px;
}

.icon-type i{
    margin-right: 5px;
    color: rgb(53, 125, 134);
}

.icon-type span{
    font-size: 1em;
}


.follow {
    margin-left: 40px;
}

.follow  h3{
    font-size: 1.2em;
    margin-bottom: 40px;
    font-weight: 500;
}

.social li{
    display: inline-block;
    filter: contrast(120%);
    margin-right: 20px;
    margin-left: 40px;
    transform: scale(0.9);
    transition: 0.5s;
}

.social li:hover {
    transform: scale(0.9) translateY(-15px);
}


.signature {
    text-align: center;
    padding: 10px;
    font-size:0.9em;
}

.signature a{
    color:black;
}