/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    list-style: none;
    text-decoration: none;
}


body{
    font-family: 'Encode Sans Expanded', sans-serif;
    

}

/* --navbar-- */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 10px;
    top:-20px;
    transition: 0.3s ease-in-out;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    margin-top:25px;
    margin-right: 15px;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin: 15px;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
    /* 55em = 880px */
  
  @media (min-width: 55em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 30px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  .nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
    padding: 2px;
}



/* --SHOWCASE-- */

.head-image {
    position: relative;
    margin-top: 25px;
    width: 100%;
    opacity: 0.9;
    height: auto;
}

  @media (max-width: 900px) {
  .head-image img {
    min-height: 300px;
    object-fit: cover;
  }
}  

.head-image-text {
  position: absolute;
  top: 60%;
  right: 10%;
  left: 10%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

}

.head-image-text h2{
    font-size: 4vw;
    margin-bottom: 15px;
   }

.head-image-text p{
   font-size: 2vw;
  }

  @media (max-width: 750px) {
    .head-image-text h2 {
      font-size: 5vw;
    }

    .head-image-text p {
      font-size: 2.5vw;
    } 

  }  


.head-image img{
    width: 100%; /* need to specify width of the image  */  
    margin-top: 40px;
}



/* --featured product-- */

.featured {
    margin: 15px;
}

.featured h3 {
    font-size: 1.7em;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
    line-height: 2em;
    letter-spacing: 2px;
    font-family: 'Kumbh Sans', sans-serif;
}

.featured hr {
  min-width: 100px;
  max-width: 500px;
  width: 50%;
  margin: 10px auto 30px;
}

.featured-product {
    max-width: 1150px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}   

.col-3 {
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
    width: 100%;
    padding: 12px;
}

.col-3:hover {
  cursor: pointer;
  border: 3px solid rgb(205, 235, 245, 0.8);
  border-radius: 8px;
  border-spacing: 20px;
}


.col-3 img {
    width: 100%;
    margin: auto;
}

.col-3 h4{
    padding:10px;
    margin:10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}



/* showcase-buttom */

hr{
    margin: 10px 120px 50px;
}

.container {
    display:flex;
    flex-direction: row;
    background-image:  url("../images/middle-image5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.col-1 {
    color: rgb(255, 255, 255);
    flex:1;   
    margin-top: 220px;
    font-size: 2.4em;
    padding: 5px;
    margin-right: 30px;
    margin-left: 70px;
    width: 100%;
    line-height: 2em;
    font-family: 'Russo One', sans-serif;
}


.col-2{
    display: flex;
    flex-direction: column;
    flex:3;
    align-items: center;
    justify-content: center;
}

.row-3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-3 i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 20vw;
    margin: 0 auto;
    color: rgb(247, 244, 92);
}


.row-3 .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    font-size: 1.6em;
    width: 40vw;
    color: rgb(247, 247, 247);
    line-height: 1.5em;
    font-weight: 600;
} 


/* footer-section */

.connect-container{
    display: flex;
    margin: 100px 0 0px;
    padding: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(218,225,245,1) 78%, rgba(243,245,250,1) 100%);
    line-height: 30px;
}

.address{
    margin-right: 20px;
}

.address h3{
    font-size:1.6em;
    padding: 10px;
    margin-bottom: 4px;
    letter-spacing: 3px;
    font-weight: 500;
}


.address p{
    font-size:1.1em;
    padding: 10px;
    margin-bottom: 8px;

}

.icon-type{
   margin:7px;
}

.icon-type i{
    margin-right: 5px;
    color: rgb(53, 125, 134);
}

.icon-type span{
    font-size: 1em;
}


.follow {
    margin-left: 40px;
}

.follow  h3{
    font-size: 1.2em;
    margin-bottom: 40px;
    font-weight: 500;
}

.social li{
    display: inline-block;
    filter: contrast(120%);
    margin-right: 20px;
    margin-left: 40px;
    transform: scale(0.9);
    transition: 0.5s;
}

.social li:hover {
    transform: scale(0.9) translateY(-15px);
}


.signature {
    text-align: center;
    padding: 10px;
    font-size:1em;
    letter-spacing: 2px;
}

.signature a{
    color:black;
}


/* ABOUT HTML PAGE */

.about-us{
    margin-top: 180px;
    margin-bottom: 40px;
    font-size: 1em;
    background: rgb(255,252,252);
    background: linear-gradient(90deg, rgba(255,252,252,1) 0%, rgba(161,251,203,1) 71%, rgba(255,255,255,1) 100%);
    padding: 20px;
}

.about-us h2{
    font-size: 2em;
    margin-bottom: 10px;
}

.about-us hr{
    display: inline-block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.company {
    display: flex;
    margin-bottom: 15px 0;
    padding:10px;
    justify-content: center;
    align-items: center;
}

.company img {
    width: 450px;
    height: 600px;
    margin-right: 5em;
    margin-left: 40px;
}

.company h3{
    margin-bottom: 25px;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 3px;
}

.company p{
    line-height: 25px;
    letter-spacing: 2px;
}






/* CONTACT HTML PAGE */

.connection{
    margin-top: 180px;
    margin-bottom: 40px;
    font-size: 1em;
    background: rgb(255,252,252);
    background: linear-gradient(90deg, rgba(255,252,252,1) 0%, rgba(161,251,203,1) 71%, rgba(255,255,255,1) 100%);
    padding: 20px;
}

.connection h2{
    font-size: 2em;
    margin-bottom: 10px;
}

.connection hr{
    display: inline-block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.map-form {
    display: flex;
    margin-bottom: 15px 0;
    padding:10px;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.map-container {
    margin-left: 10px;
    margin-right: 35px;
}

.map-container h3 {
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

 .map-container #google-map {
    height: 425px;
    width: 700px;
    margin-left: 3em;
} 


.form-container {
    margin-right: 4em;
}


.container-form{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
    font-family: 'Quicksand', sans-serif;
}



.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    font-family: 'Quicksand', sans-serif;
}

.left{
	background: url("../images/contact-image.jpg"); no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
    font-family: 'Quicksand', sans-serif;
}

.container-form h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    font-size: 1.3em;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}



/* PRODUCTS DETAILS HTML PAGE */

.products-details{
    margin-top: 180px;
    margin-bottom: 40px;
    font-size: 1em;
    background: rgb(255,252,252);
    background: linear-gradient(90deg, rgba(255,252,252,1) 0%, rgba(161,251,203,1) 71%, rgba(255,255,255,1) 100%);
    padding: 20px;
}

.products-details h2{
    font-size: 2em;
    margin-bottom: 10px;
}

.products-details hr{
    display: inline-block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Flex-related code */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Or space-between or space-around */
  }
  
  .flex > section {
    align-items: center;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
  }
  
  .flex > section > p {
    flex-grow: 1;
  }
  
  /* This rule ist just because of the responsive images */
  @media (max-width: 1600px) {
    .flex > section {  
      max-width: 250px;
    }
  }


  .flex section:hover {
      border: 2px solid rgb(176, 206, 252);
      border-radius: 8px;
      cursor: pointer;
  }

  .flex section h3 {
      font-size: 1.1em;
      font-weight: 500;
      margin: 12px;
  }

  
  .flex section p {
    line-height: 18px;
}
  
  
  .flex img {
    width: 400px;
    border-radius: 2px;
  }
  
  @media (max-width: 1600px) {
    .flex img{
      width: 250px;
    }
  }
  
  
  
  .product-header {
    text-align: center;
    margin: 40px 0;
  }
  
  .product-header h2 {
    color: #000000;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 5px;
    padding:13px;
  }

  .product-header #P {
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,228,195,1) 70%, rgba(243,245,250,1) 100%);
  }

  .product-header #Z {
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(8,57,4,0.7455357142857143) 70%, rgba(243,245,250,1) 100%);
}

  .product-header #B {
        background: rgb(255,252,252);
        background: linear-gradient(90deg, rgba(255,252,252,1) 0%, rgba(235,175,76,1) 66%, rgba(255,255,255,1) 100%);
}

  .product-header #R {
        background: rgb(255,252,252);
        background: linear-gradient(90deg, rgba(255,252,252,1) 0%, rgba(163,55,28,0.835171568627451) 66%, rgba(255,255,255,1) 100%);
}

  
  .flex > section {
    background: #fff;
    padding: 1em;
    margin: 0.5em;
    border-radius: 4px;
  }
  


